<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Std Mgt-System</title>
        <meta charset="UTF-8">
        <meta name="description" content="A full stack application for Student Behaviors"/>

        <!-- Allow Zooming on Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

        <!-- BOOTSTRAP CDN for CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
       <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        {{{body}}}
    </body>


        <!-- Script for Bootstrap Responsive Support-->
 	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Javascript -->
        <script src="" type="text/javascript"></script>
</html>
