<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Parent Portal</title>
    <!-- CSS reset -->
    <!-- <link rel="stylesheet" href="/reset.css"> -->


    <!-- BOOTSTRAP CDN for CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Script for Bootstrap Responsive Support-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/assets/css/style.css">
  </head>



  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ConnectEd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container parentPortal">
      <h1>Parent Portal</h1>
      <div class="container parentpage">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <h3>My Students</h3>
            <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action"><span class="studentName">Student Name</span></a>
            <a href="#" class="list-group-item list-group-item-action"><span class="studentName">Student Name</span></a>
            <a href="#" class="list-group-item list-group-item-action"><span class="studentName">Student Name</span></a>
            <a href="#" class="list-group-item list-group-item-action"><span class="studentName">Student Name</span></a>
          </div>
          </div>
        </div>
      </div>


    </div>
  </body>
</html>
