<div class="container-fluid">
    <nav class="navbar navbar-inverse navabar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div> <!-- navbar header -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/parent">Parent Login</a></li>
                <li> <a href="/teacher">Teacher Login</a></li>
            </ul>
            </div> <!-- /.navbar-collapse -->
            </nav>
            </div>


<div class="jumbotron vertical-center">
  <h1 class="display-4">CommunicatEd</h1>
  <p class="lead">Our goal is to help facilitate communication between parents and teachers concerning student behavior. We believe that thorough documentation is key to creating student behavior plans and goals. We hope to make this process easier for teachers and parents.</p>
  <hr class="my-4">
  <p>If you are a parent, your child's teacher will give you a login code to use at the top of the screen!.</p>
   
</div>