<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Communicat-Ed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="container studentInfo">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img class='studentPhoto' src="assets/images/gabby-orcutt-74607-unsplash.jpg">
      </div>
      <div class="col-lg-5 col-md-5, col-sm-5 offset-1">
        <span class="studentName">{{Student.first}} {{Student.last}}</span>
        <span class="studentID">{{Student.id}}</span>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="behaviorLog">
            
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
