button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
  color: white;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

body {
  background-image: url("chalkboard.jpg");
}

.table {
  background-color: grey;
}

h2 {
  color: white;
}

.studentPhoto{
  max-width: 200px;
  max-height: 200px;
}
.studentInfo{
  margin-top: 25px;
}
.studentFirstName{
  padding:10px;
  font-size: 16pt;
}
.studentLastName{
  padding:10px;
  font-size: 16pt;
}
.studentID{
  padding:10px;
  font-size: 16pt;
}
.studentGrade{
  padding:10px;
  font-size: 16pt;
}
.studentTeacher{
  padding:10px;
  font-size: 16pt;
}

.behaviorLog h3{
  text-align: center;
}

.behaviorLog{
  margin-top: 25px;
}
