
.parentpage h3{
  text-align: center;

}

.parentpage{
  border: solid #000 3px;
  margin:30px;
  padding: 15px;
  background-color: #fff;
}
.navbar h1{
  text-align: center;
}
.parentPortal h1{
  margin-top: 15px;
  color:#fff;
  text-align: center;
}

body {
    background-image: url("../img/chalkboard.jpg");
    
  }

 

  .jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: none;
    color: white;
  }

 .jumbotron h1.display-4 {
    font-size: 150px;
    
  }


