
.parentpage h3{
  text-align: center;

}

.parentpage{
  border: solid #000 3px;
  margin:30px;
  padding: 15px;
  background-color: #fff;
}
.navbar h1{
  text-align: center;
}
.parentPortal h1{
  margin-top: 15px;
  color:#fff;
  text-align: center;
}

body {
    /* background-image: url("chalkboard.jpg"); */
  }

  .vertical-center {
    display: flex;
    align-items: center;
  }
.studentPhoto{
  max-width: 200px;
  max-height: 200px;
}
.studentInfo{
  margin-top: 25px;
}
.studentFirstName{
  padding:10px;
  font-size: 16pt;
}
.studentLastName{
  padding:10px;
  font-size: 16pt;
}
.studentID{
  padding:10px;
  font-size: 16pt;
}
.studentGrade{
  padding:10px;
  font-size: 16pt;
}
.studentTeacher{
  padding:10px;
  font-size: 16pt;
}

.behaviorLog h3{
  text-align: center;
}

.behaviorLog{
  margin-top: 25px;
}
